@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

html{
  scroll-behavior: smooth;
}
*{
    margin: 0%;
    padding: 0%;
  
}
.main{
  background-color:  rgb(255, 242, 226);
}
header{
    height: 100vh;
    width: 100%;
    background-color:#4F422B;
    background-image: url("Material/rkbpic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid yellowgreen; */
    box-sizing: border-box;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
   
    
}

header>nav{
   height:10%;
     

   width: 90%;
   /* border: 1px solid red; */
   display: flex;
   
}

.links{
    /* border: 1px solid yellow; */
    font-size: 20px; 
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-top: 0.5rem;
    align-items: center;
    width: 60%;
    cursor: pointer;
   
}
.links a{
  text-decoration: none;
  color: white;
}

.links a:hover{
  filter: brightness(15%);
}

.logo{
    /* border: 1px solid yellow; */
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-top: 0.5rem;
    width: 40%;
    padding-left: 4%;
    cursor:default;

}


#logoImg{
    /* border: 1px solid red; */
    padding-right:10px;
}

.home{
    /* border: 1px solid blue; */
    width: 40%;
    height: 80%;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-weight:1000;
    font-size: 32px;
    color:white;
    text-align: right;
    padding-top: 15%;
    padding-left: 8%;
    
}
span.welcome{
  padding-right: 0px;
  font-size: 35px;
}
.home b{
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}
span.respect{
  font-size: 20px;
  color:#D9D9D9;
}
/* -- aboout Us -- */
.about-body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 242, 226);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    font-family: 'DM Sans', sans-serif;
    
}
.about-head h1{
text-align: center;
background-color: rgb(255, 242, 226);
font-size: 50px;
font-weight: 600;
padding-top: 20px;
}
.about-text{
  font-size: 30px;
   font-family: 'Dongle', sans-serif;
    padding-top: 160px;
    padding-left: 60px;
    padding-right: 90px;
    text-align: center;
    width: 70%;
    font-size: 16px;
}

.about-svg{
    background-size: cover;
    display: block;
    margin-top: 260px;  
}
.about-svg .egg{
  width: 90%;
  height: 80%;
  margin-top: -100px;
  margin-right: 25px;
}
/* .about-svg .ellipse{
 width: 300px;
 position: relative;
 z-index: 2;
 padding-top: -20px;
}
.about-svg .egg{
    margin-top: -600px;
    margin-right: -250px;
    z-index: 1;
  } */
    


/* -- aboout Us Managed -- */

/* admin is managed */
.admin{
  /* border: 2px solid magenta; */
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  background-color: #FFEBD1;
}
.admin h1{
  padding: 20px;
}

.btns{
  height: 10vh;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  background-color: #FFEBD1;
  
}

#btn1
{
   width: 15%;
   font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #FFF2E2;
}


#btn2{
  width: 15%;
  background: #FFEBD1;
  font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  
}




/* cards are managed */
#cards2023{
    /* border: 5px solid green; */
    width: 100%;
    height: 130vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #FFF2E2;
}

#cards2022{
    /* border: 5px solid green; */
    width: 100%;
    height: 130vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #FFF2E2;
    display: none;
}

.c2023
{
    width: 30%;
    /* border: solid; */
    /* border: 5x solid red; */
    height: 60vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mc{
    /* border: 1px solid magenta; */
    
    flex-direction: row;
    height: 50%;
    width: 60%;
    border-radius: 5%;
    transition: 0.2s;
}

.mc:hover
{
  transform: scale(1.1);
}

.bc{
    font-size: 30px;
    text-align: center;
    width: 70%;
    height: 50%;
    justify-content: center;
    /* color: rgb(6, 5, 5); */
    background: #FFE7C7;
    border-radius: 5%;
    box-sizing: border-box;
    padding-top: 4%;
    transition: 0.2s;
}

.bc:hover{
  transform: scale(1.1);
}

.bc a 
{
  color: black;
  transition: 0.2s;
}

.bc a:hover
{
  transform: scale(1.3);
}





h6{
    font-weight: 300;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 10%;
    cursor: pointer;
    
}

.council{
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color:#FFEBD1;
  }

.council h1{
  padding: 15px;
}


       /* bhawan council is managed */

  #btn3
{
  width: 15%;
  font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background:#FFF2E2;
}

#btn4{
  width: 15%;
  background-color:#FFEBD1;
  font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


#b_cards2023{
    /* border:2px solid green; */
    width: 100%;
    height: 140vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #FFF2E2;
}

#b_cards2022{
    /* border:2px solid orangered; */
    width: 100%;
    height: 130vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:#FFF2E2;
    display: none;
}


.bhawan_cards
{
    width: 23%;
    /* border: solid; */
    height: 60vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mcb{
  /* border: 1px solid magenta; */
  height: 50%;
  width: 60%;
  border-radius: 5%;
  transition: 0.2s;
}

.bcb{
  width: 70%;
  height: 50%;
  /* color: rgb(6, 5, 5); */
  /* border: 1px solid aqua; */
  background: #FFE7C7;
  border-radius: 5%;
  box-sizing: border-box;
  padding-top: 4%;
  transition: 0.2s;
  
}

.bcb:hover
{
  transform: scale(1.1);
  transition: 0.2s;
}

.mcb:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.bcb a 
{
  color: black;
  transition: 0.2s;
}

.bcb a:hover
{
  transform: scale(1.3);
}




/* facilities are managed */
.fac{
    /* border: 2px solid red; */
    background-color:#FFE7C7;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    margin-top: 0px;
    
}
.fac h1{
  padding: 15px;
  background-color: #FFF2E2;
}
.fac p{
    
    text-align: center;
    font-weight: 200;
    font-size: 22px;
    padding: 0 50px;
    background-color: #FFF2E2;
}

.row {
    background-color: #FFF2E2;
    display: flex;
    flex-wrap: nowrap; 
    padding: 40px 220px;
  }


  
  .column {
    
    display: flex;
    flex-wrap: wrap; 
    padding: 0 10px;
  }
  
  .column img {
    border-radius: 5%;
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
    border:none;
    /* border: 6px solid orange; */
    object-fit: cover;
  }


  .col_h{
  

    color: black;
 
  }

  .col_c{
    
  
    color: black;
  }

  /* .column img:hover + .col_s{
    display: block;
  }

  .col_s:hover + .col_s{
    display: block;
  } */
  
  .column img:hover 
  {
    transform:scale(1.04);
    filter: brightness(50%);
  }

  

  


  /* ---3D gallery is---- */
.gall{
    /* border: 2px solid rgb(234, 231, 208); */
    background: #FFF2E2;
    height: 70vh;
}
#gallery-page{
  padding-bottom: 300px;
  background-color: #FFF2E2;
}

  
  
  
  span {
    margin: auto;
    font-size: 2rem;
  }
.gall-text {
position: absolute;
margin-left: 370px;
text-align: center;
margin-top: 220px;
font-size: 25px;
}
  
  .carousel__face:nth-child(1) {
    background-image: url("Material/1.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url("Material/2.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url("Material/3.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url("Material/4.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url("Material/5.jpg");
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url("Material/6.jpg");
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("Material/7.jpeg");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("Material/8.jpeg");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("Material/9.jpeg");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  #gall_tag{
    font-weight: 600;
    font-size: 52px;
    text-align: center;
    padding-top: 20px;
  }
  

  .gall>p{
    text-align: center;
  }


  /* ----------------------------------footer is managed----- */

  .new_footer_area {
    
    /* border: 2px solid blue; */
    height: 65vh;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      /* overflow-x: hidden; */
      /* border: 5px solid black; */
      height: 20vh;
}

.new_footer_top .footer_bg {
     position: relative;
    bottom: 0;
    background: url("Material/iitrbg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
    /* border: 2px solid salmon; */
    background-size: contain;
    top: -120px;
    background-color: #FFDFB8;
    padding-top: 280px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

.row1 {
    background-color:#FFDFB8;
    display: flex;
    padding: 40px 220px;
    
    
    /* border: 5px solid black; */
    margin-top: -8.5%;
    height: 24vh;
    justify-content: space-between;
    align-items: center;
    color: rgb(5, 5, 5);
    font-size: 15px;
    font-weight:lighter;
  }

#footer_text{
    width: 40%;
    height: 120%;
    
    /* border: 1px solid white; */
    
}

#footer_text > h1 
{
  
    font-size: 35px;
    font-weight: 600;
}

.map{
  margin-left: 400px;
    /* border: 1px solid white; */
}


/* -------------gallery------------- */
  

input[type=radio] {
  display: none;
}

.rkb-card {
  margin-top: -120px;
  margin-left: 50px;
  position: absolute;
  transition: transform .4s ease;
  cursor: pointer;
  /* border: 2px solid magenta; */

}

.rkb-container {
  width: 50%;
  height: 50%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid yellowgreen; */
}

.rkb-cards {
  position: relative;
  margin-bottom: 0px;
  border: 2px solid re;
}

.caros {
 
  border-radius: 10px;
  object-fit: cover;
}


#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3{
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  }
.facy img:hover{
  background-color: blue;
}
.strips{

  text-align: center;
  position: relative;
  padding-top: 170px;
  
}
.strips i{
  color: red;
}


 